.mw-sm-1{
    max-width: 10%;
}
.mw-sm-2{
    max-width: 20%;
}
.mw-sm-3{
    max-width: 30%;
}
.mw-md{
    max-width: 50%;
}
.mw-lg-1{
    max-width: 75%;
}
.mw-lg-2{
    max-width: 90%;
}

.col-reverse-order{
    display: flex;
    flex-direction: column-reverse;
}

.row-reverse-order{
    display: flex;
    flex-direction: row-reverse;
}

.thumb-customer{
    width: 120px; 
    height: 140px; 
    object-fit: cover;
}

.txt-fg-error{
    color: red;
}