<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi"
      crossorigin="anonymous"
    />
    <link href="assets/css/styles.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="#">Customer Segmentation</a>
        <ul class="navbar-nav me-auto mb-2 mb-sm-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="../">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../data">Data</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="../chart">Chart</a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-4">
      <div class="row p-4">
        <div class="col-md-4">
          <div class="mb-3">
            <label for="gender" class="form-label">Gender</label>
            <select class="form-select" id="gender" name="gender">
              <option value="0">Men</option>
              <option value="1">Women</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="age" class="form-label">Age</label>
            <input
              class="form-control"
              name="age"
              id="age"
              type="number"
              placeholder="Age"
              min="0"
            />
          </div>
          <div class="mb-3">
            <label for="income" class="form-label">Income </label>
            <div class="input-group mb-3">
              <span class="input-group-text">$</span>
              <input
                class="form-control"
                name="income"
                id="income"
                type="number"
                placeholder="Income"
                type="text"
                aria-label="Amount (to the nearest dollar)"
                min="0"
              />
              <span class="input-group-text">,000.00</span>
            </div>
          </div>
          <div class="mb-3">
            <label for="spending" class="form-label">Spending Score </label>
            <input
              class="form-control"
              name="spending_score"
              id="spending"
              type="number"
              placeholder="Spending Score"
              max="100"
              min="1"
            />
          </div>
          <div class="mb-3 d-grid gap-2">
            <button class="btn btn-primary" id="sumbit" onclick="sumbit()">
              <span
                id="progressbar"
                class="spinner-border spinner-border-sm visually-hidden"
                role="status"
                aria-hidden="true"
              ></span>
              <span>Segment Customer</span>
            </button>
          </div>
        </div>
        <div class="col-md-8">
          <div class="chart-wrapper">
            <canvas id="myChart"></canvas>
          </div>
        </div>
      </div>
      <div class="row p-4 justify-content-md-center">
        <div id="DetailPlaceholder" class="col-reverse-order"></div>
      </div>
    </div>

    <div class="toast-container position-fixed top-0 end-0 p-3">
      <div
        id="errorToast"
        class="toast"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
      >
        <div class="toast-header">
          <strong class="me-auto txt-fg-error">Error</strong>
          <button
            type="button"
            class="btn-close"
            data-bs-dismiss="toast"
            aria-label="Close"
          ></button>
        </div>
        <div class="toast-body" id="errorMessage">Error!</div>
      </div>
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
      const ctx = document.getElementById("myChart");
      const resultToast = document.getElementById("resultToast");
      const toastMessage = document.getElementById("toastMessage");
      const alertPlaceholder = document.getElementById("DetailPlaceholder");
      const errorToast = document.getElementById("errorToast");
      const errorMessage = document.getElementById("errorMessage");
      const progress = document.getElementById("progressbar");
      const sumbitBtn = document.getElementById("sumbit");

      var myChart = null;

      const addInfo = (segment, legend, descriptions, type) => {
        const wrapper = document.createElement("div");
        let description = "<ul>";
        for (let i = 0; i < descriptions.length; i++) {
          description += "<li>" + descriptions[i] + "</li>";
        }
        description += "</ul>";

        imgSource = "../assets/img/StandardCustomer.png";
        if (segment == 0) imgSource = "../assets/img/WiseCustomer.png";
        else if (segment == 2) imgSource = "../assets/img/LoyalCustomer.png";
        else if (segment == 3) imgSource = "../assets/img/ActiveCustomer.png";

        wrapper.innerHTML = [
          `<div class="alert alert-${type} alert-dismissible fade show" role="alert">`,
          ` <div class="row"> `,
          `   <div class="col-auto">`,
          `     <img class="thumb-customer" src="${imgSource}" />`,
          `   </div>`,
          `   <div class="col">`,
          `     <h3>${legend}</h3>`,
          `     <div>${description}</div>`,
          `   </div>`,
          ` </div>`,
          `   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>`,
          "</div>",
        ].join("");

        alertPlaceholder.innerHTML = "";
        alertPlaceholder.append(wrapper);
      };

      function sumbit() {
        var gender = $("#gender").val();
        var age = $("#age").val();
        var income = $("#income").val();
        var spending_score = $("#spending").val();

        if (!gender | !age | !income | !spending_score) {
          const toast = new bootstrap.Toast(errorToast);
          errorMessage.innerHTML = "Please fill all blanks";
          toast.show();
          return;
        }

        if (age < 0) {
          const toast = new bootstrap.Toast(errorToast);
          errorMessage.innerHTML =
            "Invalid Age Value<br>Value must be above or equal to zero.";
          toast.show();
          return;
        }

        if (income < 0) {
          const toast = new bootstrap.Toast(errorToast);
          errorMessage.innerHTML =
            "Invalid Income Value<br>Value must be above or equal to zero.";
          toast.show();
          return;
        }

        if (spending_score < 0 || spending_score > 100) {
          const toast = new bootstrap.Toast(errorToast);
          errorMessage.innerHTML =
            "Invalid Spending Score Value<br>Values must between 1 and 100";
          toast.show();
          return;
        }

        sumbitBtn.disabled = true;
        progress.classList.remove("visually-hidden");

        $.post(
          "/pred",
          {
            gender: gender,
            age: age,
            income: income,
            spending_score: spending_score,
          },
          function (data) {
            // <!-- var predicted = jQuery.parseJSON(data); -->
            console.log(data);

            sumbitBtn.disabled = false;
            progress.classList.add("visually-hidden");

            addInfo(
              data["predict_segment"],
              data["legend"],
              data["description"],
              "success"
            );
            alertPlaceholder.scrollIntoView();
          }
        );
      }

      async function updateGraph() {
        if (myChart != null) {
          myChart.destroy();
        }

        let response = await fetch("../data?query=graph");
        colorPalette = ["#F7A4A4", "#F49D1A", "#A4BE7B", "#863A6F", "#0D4C92"];
        legend = [
          "Wise Customer",
          "Standard Customer",
          "Loyal Customer",
          "Active Customer",
        ];

        if (response.ok) {
          let data = await response.json();
          let graph0 = [];
          let graph1 = [];
          let graph2 = [];
          let graph3 = [];
          let graph4 = [];
          for (let i = 0; i < data.length; i++) {
            if (data[i][2] == 0) graph0.push([data[i][0], data[i][1]]);
          }
          for (let i = 0; i < data.length; i++) {
            if (data[i][2] == 1) graph1.push([data[i][0], data[i][1]]);
          }
          for (let i = 0; i < data.length; i++) {
            if (data[i][2] == 2) graph2.push([data[i][0], data[i][1]]);
          }
          for (let i = 0; i < data.length; i++) {
            if (data[i][2] == 3) graph3.push([data[i][0], data[i][1]]);
          }
          for (let i = 0; i < data.length; i++) {
            if (data[i][2] == 4) graph4.push([data[i][0], data[i][1]]);
          }

          data = null;

          //let data = jQuery.parseJSON(json);
          myChart = new Chart(ctx, {
            type: "scatter",
            data: {
              datasets: [
                {
                  label: legend[0],
                  data: graph0,
                  backgroundColor: colorPalette[0],
                },
                {
                  label: legend[1],
                  data: graph1,
                  backgroundColor: colorPalette[1],
                },
                {
                  label: legend[2],
                  data: graph2,
                  backgroundColor: colorPalette[2],
                },
                {
                  label: legend[3],
                  data: graph3,
                  backgroundColor: colorPalette[3],
                },
                //                {
                //                  label: legend[4],
                //                  data: graph4,
                //                  backgroundColor: colorPalette[4],
                //                },
              ],
            },
            options: {
              responsive: true,
              maintainAspectRatio: false,
              scales: {
                x: {
                  type: "linear",
                  position: "bottom",
                  title: {
                    display: true,
                    text: "Component 3",
                  },
                },
                y: {
                  title: {
                    display: true,
                    text: "Component 2",
                  },
                },
              },
            },
          });
        } else {
          alert("HTTP-Error: " + response.status);
        }
      }

      updateGraph();
    </script>
  </body>
</html>
